:root {
  --size: 66px;
  --size-two: calc(var(--size) / 2);
}

@keyframes animate-a {
  0% {
    transform: rotate(-1turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes animate-a2 {
  0% {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(180deg);
  }
  40% {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(70deg);
  }
  60% {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(70deg);
  }
  to {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(180deg);
  }
}

@keyframes animate-b {
  0% {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(540deg);
  }
}

@keyframes animate-b2 {
  0% {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(180deg);
  }
  40% {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(70deg);
  }
  60% {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(70deg);
  }
  to {
    box-shadow: inset 0 0 0 3px #e62429;
    transform: rotate(180deg);
  }
}

@keyframes loader {
  0% {
    box-shadow: #ccc 0 15px 0 -15px;
  }
  100% {
    box-shadow: #ccc 0 15px 0;
  }
}

.loader-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  top: 0;
  height: 84px;
  width: 20px;
  text-align: center;
  margin: 15px auto;
  border-radius: 50%;
  animation: 0.9s ease 0.35s infinite alternate none running loader;

  &::before {
    left: -25px;
    animation-delay: 0.2s;
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: 0.9s ease 0s infinite alternate none running loader;
  }
  &::after {
    right: -25px;
    animation-delay: 0.5s;
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: 0.9s ease 0s infinite alternate none running loader;
  }
}

.loader--a {
  transform-origin: var(--size);
  left: calc(50% - var(--size));
  top: calc(50% - var(--size-two));
  position: absolute;
  clip: rect(0, var(--size), var(--size), var(--size-two));
  height: var(--size);
  width: var(--size);
  animation: animate-a 1.5s ease infinite;
  &:after {
    position: absolute;
    clip: rect(0, var(--size), var(--size), var(--size-two));
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    content: '';
    animation: animate-a2 1.5s ease-in-out infinite;
  }
}

.loader--b {
  transform-origin: var(--size);
  left: calc(50% - var(--size));
  top: calc(50% - var(--size-two));
  position: absolute;
  clip: rect(0, var(--size), var(--size), var(--size-two));
  height: var(--size);
  width: var(--size);
  animation: animate-b 1.5s ease infinite;
  transform: scaleY(-1);
  &:after {
    position: absolute;
    clip: rect(0, var(--size), var(--size), var(--size-two));
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    content: '';
    transform: scaleY(-1);
    animation: animate-b2 1.5s ease-in-out infinite;
  }
}
